body {
    background: #262626;
}

h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-size: 20em;
    color: aliceblue;
    text-align: center;
    line-height: 1.5em;
    text-shadow: -2px 2px 0 #666,
                 -4px 4px 0 #666,
                 -6px 6px 0 #666,
                 -8px 8px 0 #666,
                 -10px 10px 0 #666,
                 -12px 12px 0 #666,
                 -14px 14px 0 #666,
                 -16px 16px 0 #666,
                 -18px 18px 0 #666,
                 -20px 20px 0 #666;
}